 .services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 70px 190px;
}

.services-title{
    position: relative;
}
.services-title h1{
  padding :0 30px;
  font-size: 60px;
  font-weight: 600;
}
.services-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.services-format{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border: 2px solid white;
  border-radius: 10%;
  padding:20px;
  transition: 0.4s;
  cursor: pointer;
}
.services-format{
    width: 250px;
    height: 200px;
}
.services-format img{
    width: 150px;
    height: 150px;
    border-radius: 50%; 
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap :40px;
    margin-bottom: 80px;
}
.services-format h3{
    font-size: 28px;
    font-weight: 600;
}
.services-format h2{
    font-size: 30px;
    font-weight: 600;
    background: linear-gradient(270deg,#DF8908 50%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p{
    color: #d4d4d4;
    font-size: 20px;
    /* line-height: 40px; */
      max-width: 300px;
}

.services-readmore{
    display: flex;
    gap:20px;
   align-items: center;
   margin-top: 20px;
}
.services-format:hover{
    background: #fff;
    color: black;
    filter: drop-shadow(8px 8px 10px rgb(241, 222, 222));
    transform: scale(1.05);
    transition: 0.4s;
} 

/* ----------------------------------------------media-query------------------------ */
   @media (max-width: 768px) {
    .services {
        margin: 20px 70px;
        gap: 70px;
        align-items: flex-start;
    }

    .services-title h1 {
        font-size: 50px;
        padding: 0;
    }

    .services-title img {
        width: 130px;
        margin-right: -20px;
    }

    .services-container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin:20% auto;
    }

    .services-format {
        gap: 20px;
        padding: 32px;
    }

    .services-format h2 {
        font-size: 28px;
    }

    .services-format{
        width: 150px;
        height: 150px;
    }
    .services-format img{
        width: 100px;
        /* height: 100px; */
        height: auto;
        border-radius: 50%;
    }

    .services-readmore img {
        width: 20px;
    }
}  

/* Mobile View (max-width: 480px) */

@media (max-width: 480px) {
    .services {
        gap: 50px;
        margin : 30px 20px;
    }

    .services-title h1 {
        font-size: 40px;
    }

    .services-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .services-format {
        padding: 24px;
        gap: 15px;
    }

    .services-format h2 {
        font-size: 0px;
    }

    .services-format img{
        width: 100%;
        height: auto;
        border-radius: 0px;
        align-self: center;
    }
    .services-format{
        width: 60%;
        height: 60%;
    }
    .services-readmore img {
        width: 18px;
    }
} 

 
